SECRET_KEY=
DEBUG=False

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=3306

FRONTEND_URL=https://your-vercel-domain.vercel.app
ALLOWED_HOSTS=your-vercel-domain.vercel.app,.vercel.app
CSRF_TRUSTED_ORIGINS=https://your-vercel-domain.vercel.app
